body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root {

  /* background: url(https://funart.pro/uploads/posts/2021-12/1640456733_64-funart-pro-p-futbolnie-foni-s-myachikami-66.jpg); */
  /* background:url(https://dbdzm869oupei.cloudfront.net/img/quadres/preview/46703.png); */
  
  /* Firefox 3.6+ */
  -moz-background-size: 100% 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -webkit-background-size: 100% 100%;
  /* Opera 9.6+ */
  -o-background-size: 100% 100%;
  /* Современные браузеры */
  background-size: 100% 100%;

  background: white;
  
}

