.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(10px); */
  position: fixed;
  left: 0;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: 1s;
}


.modal__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  border: solid 5px black;
  height: 550px;
  width: 700px;
  color: black;
}

.modal.active {
  transform: scale(1);
}

